@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext');

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: center / cover no-repeat url(assets/background.jpg) #74467a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .wrapper {
    overflow: hidden;
    border-radius: 25px;
    backdrop-filter: blur(4px);
    background: rgba(171, 0, 255, 0.4);
  }

  .field {
    position: relative;
    padding: 25px;
    display: grid;
    width: 450px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 10px;

    .Slot {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border: solid 2px #74467a;
      color: #fff;
      border-radius: 15px;
      background-size: cover;
      overflow: hidden;

      h3 {
        font-weight: 400;
        color: #f37055;
      }
    }

    .Spin {
      display: block;
      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    } 

    .quil {
      background-image: url(assets/quil.png);
    }
    .gamora {
      background-image: url(assets/gamora.png);
    }
    .rocket {
      background-image: url(assets/rocket.png);
    }
    .groot {
      background-image: url(assets/groot.png);
    }
    .nebula {
      background-image: url(assets/nebula.png);
    }
    .drax {
      background-image: url(assets/drax.png);
    }
    .mantis {
      background-image: url(assets/mantis.png);
    }
    .yondu {
      background-image: url(assets/yondu.png);
    }

  }

  .Prize {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
      color: yellow;
      z-index: 2;
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0B2349;
    }
  }

  .Panel {
    width: 100%;
    max-width: 450px;
    padding: 0 25px 25px;

    .Info {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      color: #e5cae9;
    }

    .Rate {
      display: flex;
      align-items: center;

      input {
        font-weight: bold;
      }

      .rate-btn {
        width: 70px;
        height: 35px;
        border: 2px solid #d1bce7;
        border-radius: 25px;
        padding: 0;
        color: white;
        outline: none;
        background: rgba(46, 111, 159, 0.6);
        cursor: pointer;

        &:active {
          border-color:#74467a;
        }
      }

      input {
        width: 100%;
        text-align: center;
        background: transparent;
        border: none;
        color: white;
        padding-left: 0.8rem;
        color: #e5cae9;
        outline: none;
      }
    }

    .btn {
      width: 100%;
      width: 100%;
      margin-top: 25px;
      border: 2px solid rgb(209, 188, 231);
      border-radius: 25px;
      padding: 10px;
      color: white;
      outline: none;
      background: rgba(46, 111, 159, 0.6);
      cursor: pointer;

      &:hover {
        box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.3);
        background: rgba(46, 111, 159, 0.8);
      }

      &:active {
        border-color:#74467a;
      }
      &:disabled {
        background-color: transparent;
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

.App .field .Slot.Win {
  border-width: 3px;
  position: relative;
  overflow: unset;
  border: none;
}
.App .field .Slot.Win:after {
  content: '';
  position: absolute;
  top: calc(-1 * 4px);
  left: calc(-1 * 4px);
  height: calc(100% + 4px * 2);
  width: calc(100% + 4px * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: 15px;
  z-index: -1;
  animation: animatedgradient 2s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.slot-enter {
  transform: translateY(0px)
}
.slot-enter-active {
  transform: translateY(5px);
  transition: transform 250ms ease-in;
}
.slot-enter-done {
  transform: translateY(0px);
  transition: transform 250ms;
}
.slot-exit {
  transform: translateY(-30px);
}
.slot-exit-active {
  transform: translateY(0px);
  transition: transform 250ms ease-out;
}

.Enter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);

  .button {
    width: 250px;
    position: relative;
    z-index: 0;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;

    &:after {
      content: '';
      border: 3px solid #fff;
      position: absolute;
      top: calc(-1 * 7px);
      left: calc(-1 * 6px);
      height: calc(100% + 4px * 2);
      width: calc(100% + 4px * 2);
      background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
      border-radius: 50px;
      z-index: -1;
      animation: animatedgradient 5s ease alternate infinite;
      background-size: 300% 300%;
    }
  }

  .button_about {
    width: 250px;
    padding: 14px;
    border: 3px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    background-color: rgba(0, 0, 0, .5);
    margin-bottom: 22px;
  }

  .about {
    width: 100%;
    max-width: 450px;
    border: 3px solid #fff;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    max-height: 0;
    opacity: 0;

    h1 {
      font-weight: 300;
      text-align: center;
    }

    ul {
      padding-left: 25px;
      margin: 0;
    }

    .main > li {
      padding-bottom: 10px;
    }

    a {
      align-self: flex-end;
      padding: 0 40px 10px;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .info-enter {
    opacity: 0;
    max-height: 0;
  }
  .info-enter-active {
    opacity: .5;
    max-height: 500px;
    transition: all 750ms ease-out;
  }
  .info-enter-done {
    opacity: 1;
    max-height: 1000px;
    transition: all 750ms ease-out;
  }
  .info-exit {
    opacity: 1;
    max-height: 1000px;
  }
  .info-exit-active {
    opacity: .5;
    max-height: 500px;
    transition: all 350ms ease-out;
  }
  .info-exit-done {
    opacity: 0;
    max-height: 0;
    transition: all 350ms ease-out;
  }
}

@media screen and (max-width: 425px) {
  .App {
    .wrapper {
      .field {
        width: auto;
        grid-auto-rows: 118px;
      }
      .Panel {
        width: auto;
      }
    } 
    .Enter .about {
      max-width: 284px;
    }
  } 
}

@media screen and (max-width: 375px) {
  .App .wrapper {
    .field {
      padding: 25px 10px;
      grid-auto-rows: 110px;
    }
    .Panel {
      padding: 0 10px 25px;

      .Info {
        grid-template-columns: 30% 40% 30%;

        .Rate input {
          padding: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .App .wrapper {
    .field {
      grid-auto-rows: 93px;
    }
  }
}