.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  background-color: aquamarine;

  .field {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: auto;
    margin: 0 auto;
    width: 100%;

    div {
      height: 150px;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
